<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxeScore</title>
    <link rel = "stylesheet" type="text/css" href="/static/css/styles.css">
    <!-- LINKS TO FAVICON LINKS FOR DIFFERENT BROWSERS -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@1,100;1,400&display=swap');
      </style>
</head>
<body>
    <div class="header-container">
        <div class="logo-container">
            <img src="/static/img/LUXSC2.png" alt="Page Logo">
        </div>
        <nav>
            <a href="index.html">Home</a>
        </nav>
    <div class="signup-container">
        <a href="/login" class="btn">Sign Up</a>
    </div>
    </div>
    <div class="main-container">
        <div class="text1-container">
        <h1>THE UK'S #1 CREDIT SCORING TOOL</h1>
        <p>"LuxeScore give you a credit score, and the interest rate you would be entitled if you were to take a personal loan!
            Click the sign up button to get your free CREDIT SCORE!</p>
        </div>
        <div class="img1-container">
            <img src="/static/img/bar-chart2.png">
        </div>
        </div>
    <div class="end-container">
        </div>
    <!-- JS LINK -->
    <script src = "/static/js/script.js"></script>
</body>
</html>
