<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
    <link rel = "stylesheet" type="text/css" href="/static/css/loginpage.css">
    <!-- LINKS TO FAVICON LINKS FOR DIFFERENT BROWSERS -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400&display=swap');
      </style>
</head>
<body>
    <div class="container">
        <div id="form-box">
            <i id ="prev-btn" class="lni-arrow-left"></i>
            <i id ="next-btn" class="lni-arrow-right"></i>
            <div id="input-group">
                <input id="input-field" required>
                <label id="input-label"></label>
                <div id="input-progress"></div>
            </div>
            <div id="progress-bar"></div>
        </div>
    </div>
    <script src="/static/js/loginpage.js"></script>
</body>
</html>
